<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<title>Acessar Painel de Controle</title>

		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"
		/>

		<link rel="stylesheet" href="css/login.css" />
	</head>
	<body>
		<form class="login-box" method="post">
			<h2>Iniciar sessão</h2>
			<div>
				<input
					type="text"
					id="username"
					name="username"
					placeholder="Nome de Usuário"
				/>
			</div>
			<div>
				<input
					type="password"
					id="password"
					name="password"
					placeholder="Senha"
				/>
			</div>
			<div><button type="submit">Enviar</button></div>
			<small
				>*Acesse o painel de controle com o <b>usuário "admin"</b> e
				<b>senha "admin"</b>.</small
			>
		</form>
	</body>
</html>
