<div class="content w100 left">
	<h2>Lorem Ipsum</h2>
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex enim, optio
		officia incidunt itaque assumenda impedit tempore reiciendis magnam quo
		numquam obcaecati similique, repudiandae doloribus. Ab dolor illum
		voluptatem mollitia?
	</p>
</div>
<div class="content w50 left">
	<h2>Lorem Ipsum</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque error,
		architecto molestiae itaque omnis optio quidem? Voluptatibus dolorem fugiat,
		aut quo pariatur incidunt enim id sequi omnis, ab veniam vitae.
	</p>
</div>
<div class="content w50 right">
	<h2>Lorem Ipsum</h2>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat repellat
		nesciunt asperiores eaque est voluptas commodi laborum recusandae animi quas
		at, rerum ipsa tempore aut dolorum dolorem, reiciendis facere vitae.
	</p>
</div>
